# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://admin:password@db:5432/mydatabase?schema=public" # This is the connection string for the database, remember to change it
POSTGRES_USER=admin # This is the username for the database, remember to change it
POSTGRES_PASSWORD=password # This is the password for the database, remember to change it
POSTGRES_DB=mydatabase # This is the name of the database, remember to change it
